.line-chart{
    margin: 20px auto;
    width: 802px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}
svg{
    width: 800px;
    height: 300px;
}
.area{
  fill: #dcdcdc;
}
.line{
  fill: #dcdcdc;
  stroke-width: 2px;
  fill: none;
}
.selector{
  stroke: #787c80;
  stroke-width: 2px;
  fill: none;
} 

