.line-chart{
    margin: 20px auto;
    width: 802px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}
svg{
    width: 800px;
    height: 300px;
}
.area{
  fill: #76BF8A;
}
.line{
  stroke: #4F7F5C;
  stroke-width: 1px;
  fill: none;
}
.selector{
  stroke: #28402E;
  stroke-width: 3px;
  fill: none;
} 

