svg{
    display: block;
    margin: 10px auto;
    width: 430px;
    height: 160px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    path{
        display: block;
        fill: none;
        stroke: #76BF8A;
        stroke-width: 2px;
    }
}

