#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.about{
	margin-top: 45px;
	padding: 20px 20px 45px;
	background-color: #fff;
	border-radius: 5px;
	.launch{
		display: block;
		margin: 30px auto 0;
		width: 150px;
		height: 150px;
		border-radius: 75px;
	}
}

h1{
	font-size: 28px;

}

h1, h2 {
    margin-top: 45px;
    font-weight: normal;
    text-align: center;
}

ul {
	margin-top: 15px;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 10px;
    color: #42b983;
}

a {
    color: #42b983;
    text-decoration: none;
    font-size: 18px;
}
