.nav{
    position: relative;
    width: 200px;
    background-color: #fff;
    height: 100%;
    li{
        height: 45px;
        line-height: 45px;
        text-align: center;
        font-size: 18px;
    }



}
