.test{
    position: relative;
    width: 100%;
    min-height: 100%;
    display: inline-block;
	padding: 20px 20px 45px;
	border-radius: 5px;
    .hint-left{
        display: inline-block;
        margin-right: 30px;
        vertical-align: top;
        width: 200px;
        line-height: 45px;
        text-align: right;
    }
    .hint{
        display: inline-block;
        vertical-align: top;
        margin-right: 30px;
        margin-left: 60px;
        line-height: 45px;
    }
	.launch{
		display: block;
		margin: 30px auto 0;
		width: 150px;
		height: 150px;
		border-radius: 75px;
	}
    .select-test{
        margin-top: 60px;
    }
    .showPage{
        margin-top: 60px;
        width: 100%;
        text-align: center;
        color: #444;
    }
    .date-picker{
        margin-top: 60px;
        height: 60px;
        width: 100%;
    }
    .upload-button{
        margin-top: 60px;
        height: 60px;
        width: 100%;
    }
    .animate-input{
        display: inline-block;
        padding-left: 20px;
        height: 45px;
        width: 210px;
        line-height: 45px;
        border: 1px solid #dcdcdc;
    }
    .state{
        margin-top: 30px;
    }
}
