.cov-vue-date{
    width: 210px;
    height: 45px;
    position: relative;
}
.input-box{
    width: 210px;
    height: 45px;
    input{
        display: block;
        width: 210px;
        height: 45px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        padding-left: 20px;
        cursor: pointer;
    }
}
.cov-date-body {
    //position: absolute;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    background: #fff;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 272px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.85) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
}
.cov-date-box {
    display: inline-block;
    width: 272px;
    padding: 0 10px 10px;
    height: 255px;
    background: #fff;
    width: 100%;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    text-align: start!important;
}
.day {
    margin: 3px;
    width: 30px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    height: 30px;
    padding: 0;
    line-height: 30px;
    color: #A19DA1;
    font-size: 14px;
    background: #fff;
    vertical-align: middle;
}
.week ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #dcdcdc;
}
.week ul li {
    margin: 3px;
    width: 30px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    background: transparent;
    font-size: 13px;
    color: #787C80;
}
.daylist{
    margin-top:5px;
    width: 252px;
    padding-bottom: 6px;
}
.passive-day {
    color: #bbb;
}
.checked {
    background: #F50057;
    color: #FFF !important;
    border-radius: 20px;
}
.unavailable {
    color: #ccc;
    cursor: not-allowed;
}
.cov-date-header{
    height: 40px;
    width: 100%;
    background: #fff;
}
.cov-date-previous,
.cov-date-next,
.cov-date-year,
.cov-date-month{
    margin: 0;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    color: #A19DA1;
    text-align: center;
    cursor: pointer;
}
.cov-date-previous,
.cov-date-next {
    width: 40px;
    font-size: 26px;
}
.cov-date-previous:hover,
.cov-date-next:hover {
    background-color: #dcdcdc;
}
.cov-date-year,
.cov-date-month{
    position: relative;
    text-align: center;
    padding-top: 3px;
    font-size: 16px;
}
.cov-date-year{
    width: 80px;
}
.cov-date-month{
    width: 112px;
}
.day:hover {
    background: #f50057;
    color: #fff;
    border-radius: 20px;
}
.unavailable:hover {
    background: none;
}
.checked:hover {
    background: #FF4F8E;
}
.date-item {
    font-size: 16px;
    line-height: 30px;
    padding: 0;
    color: #A19DA1;
    letter-spacing: 1px;
    cursor: pointer;
}
.date-item:hover {
    background: #dcdcdc;
    color: #fff;
}
.date-list {
    position: absolute;
    height: 255px;
    overflow: auto;
    z-index: 100;
    vertical-align: top;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.85) inset, 0 0.3em .5em rgba(0, 0, 0, 0.3);
}
.year-list{
    width: 80px;
    li{
        text-align: center;
    }
}
.month-list{
    margin-left: 10px;
    width: 120px;
    li{
        font-size: 14px;
        text-align: left;
        padding-left: 10px;
    }
}

::-webkit-scrollbar {
    width: 0;
}
::-webkit-scrollbar-track {
    background: #E3E3E3;
}
::-webkit-scrollbar-thumb {
    background: #C1C1C1;
    border-radius: 2px;
}
