.cov-date-body {
    background: #3F51B5;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    position: fixed;
    display: block;
    width: 300px;
    max-width: 100%;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.cov-picker-box {
    background: #fff;
    width: 100%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    width: 300px;
    max-width: 100%;
    height: 250px;
    text-align: start!important;
}
.day {
    margin-top: 10px;
    width: 30px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    height: 30px;
    padding: 0;
    line-height: 30px;
    color: #000;
    font-size: 16px;
    background: #fff;
    vertical-align: middle;
}
.week ul {
    margin: 0 0 8px;
    padding: 0;
    list-style: none;
}
.week ul li {
    width: 14.2%;
    display: inline-block;
    text-align: center;
    background: transparent;
    color: #000;
    font-weight: bold;
}
.passive-day {
    color: #bbb;
}
.checked {
    background: #F50057;
    color: #FFF !important;
    border-radius: 3px;
}
.unavailable {
    color: #ccc;
    cursor: not-allowed;
}
.cov-date-monthly {
    height: 45px;
}
.cov-date-monthly > div {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    color: #fff;
    height: 45px;
    float: left;
    text-align: center;
    cursor: pointer;
}
.cov-date-previous,
.cov-date-next {
    position: relative;
    width: 15% !important;
    text-indent: -300px;
    overflow: hidden;
    color: #fff;
}
.cov-date-caption {
    width: 70%;
    height: 45px;
    padding: 0;
    box-sizing: border-box;
}
.cov-date-year,
.cov-date-month{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    color: #444;
}
.cov-date-year{
    font-size: 20px;
}
.cov-date-month{
    margin-left: 15px;
    font-size: 22px;
}
.cov-date-caption span:hover {
    color: rgba(255, 255, 255, 0.7);
}
.cov-date-previous:hover,
.cov-date-next:hover {
    background: rgba(255, 255, 255, 0.1);
}
.day:hover {
    background: #EAEAEA;
    border-radius: 15px;
}
.unavailable:hover {
    background: none;
}
.checked:hover {
    background: #FF4F8E;
}
.cov-date-next::before,
.cov-date-previous::before {
    width: 20px;
    height: 2px;
    text-align: center;
    position: absolute;
    background: #fff;
    top: 50%;
    margin-top: -7px;
    margin-left: -7px;
    left: 45%;
    line-height: 0;
    content: '';
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cov-date-next::after,
.cov-date-previous::after {
    width: 20px;
    height: 2px;
    text-align: center;
    position: absolute;
    background: #fff;
    margin-top: 6px;
    margin-left: -7px;
    top: 50%;
    left: 45%;
    line-height: 0;
    content: '';
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.cov-date-previous::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cov-date-previous::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.date-item {
    text-align: center;
    font-size: 18px;
    padding: 5px 0;
    cursor: pointer;
}
.date-item:hover {
    background: #e0e0e0;
}
.date-list {
    overflow: auto;
    vertical-align: top;
    padding: 0;
}
.cov-vue-date {
    display: inline-block;
    color: #5D5D5D;
}
.button-box {
    background: #fff;
    vertical-align: top;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding-right: 20px;
}
.button-box span {
    cursor: pointer;
    padding: 10px 20px;
}
.watch-box {
    height: 100%;
    overflow: hidden;
}
.hour-box,
.min-box {
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 100%;
    overflow: auto;
    float: left;
}
.hour-box ul,
.min-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hour-item,
.min-item {
    padding: 10px;
    font-size: 36px;
    cursor: pointer;
}
.hour-item:hover,
.min-item:hover {
    background: #E3E3E3;
}
.hour-box .active,
.min-box .active {
    background: #F50057;
    color: #FFF !important;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #E3E3E3;
}
::-webkit-scrollbar-thumb {
    background: #C1C1C1;
  border-radius: 2px;
}
