#paging{
    width: 100%;
    background-color: transparent;
    height: 45px;
    .page-box{
        width: 650px;
        height: 45px;
        margin: 0 auto;
        overflow: hidden;
    }
    li{
        display: inline-block;
        padding: 0 7px;
        vertical-align: top;
        line-height: 45px;
        cursor: pointer;
        color: #4285f4;
    }
    .first,
    .last,
    .prev,
    .next{
        line-height: 45px;
        cursor: pointer;
        color: #4285f4;
    }
    .first,
    .prev{
        float: left; 
        margin-left: 10px;
        margin-right: 10px;
    }
    .last,
    .next{
        float: right; 
        margin-left: 10px;
        margin-right: 10px;
    }
    #pages{
        vertical-align: top;
        height: 100%;
        text-align: center;
        overflow: hidden;
    }
    .current{
        color: #666;
        cursor: default;
    }
    .overLeft,
    .overRight{
        color: #dcdcdc;
        cursor: not-allowed;
    }
}
