#select{
    position: relative;
    display: inline-block;
    min-width: 200px;
    min-height: 45px;
    background-color: #fff;
    height: 45px;
    span,
    li{
        padding: 0 15px;
        box-sizing: border-box;
        line-height: 45px;
        background-color: #fff;
        cursor: pointer;
        color: #444;
    }
    span{
        display: block;
        width: 202px;
        font-size: 16px;
        border: 1px solid #dcdcdc;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    ul{
        position: absolute;
        margin-left: 1px;
        width: 200px;
        box-shadow: 0 0 0 1px hsla(0,0%,100%,.85) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
    }
    li{
        width: 200px;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .unavailable{
        color: #f5f5f5;
        cursor: not-allowed;
    }
    li:hover{
        background-color: #dcdcdc;
    }
    .unavailable:hover{
        background-color: #fff;
    }
    
}
